@import "./guideline";
@import "./mixin";

// 通用
* {
    @include all();
}
body.modal-open {
    padding-right: 0px !important;
    overflow-y: auto;
}
html {
    scroll-behavior: smooth;
}
body {
    font-size: 16px;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-right: 0 !important;
    @include mobile-XS() {
        font-size: 14px;
    }
    // 導覽列
    .minibar {
        @include minibar();
    }
    .navbar {
        @include navbar();
    }
    // Banner
    .content-banner {
        max-width: 1140px;
        margin: auto;
        padding-top: 120px;
        display: block !important;
        background-color: #fff !important;
        color: $text !important;
        @include pad() {
            padding-top: 60px;
        }
        img {
            width: 100%;
            max-height: 450px;
            object-fit: cover;
            object-position: center center;
        }
    }
    //關於平台
    .content-about {
        .container {
            display: flex;
            @include pad() {
                flex-wrap: wrap;
            }
            .about {
                width: 100%;

                h1 {
                    color: $title-D;
                }
            }
        }
    }
    //breadcrumb
    .breadcrumb {
        @include breadcrumb();
    }

    //競賽辦法
    .content-information {
        @include papers();
        @include text-important();
        @include table;
        .container {
            .list-gp {
                @include news-list(100%, 15%);
                margin: $margin-S * 1.5 0;
            }
            strong{
                margin: $margin-XS 0;
            }
        }
    }
    // 頁尾
    footer {
        @include footer();
    }
    .back-top {
        @include back-top();
    }
    //QR code
    .content-QRcode {
        text-align: center;
        .container {
            @include pad() {
                padding-bottom: 0;
            }
            .QRcode-gp {
                width: 400px;
                margin: auto;
                display: flex;
                border: solid 6px $light-sky;
                border-radius: 20px;
                padding: $padding-XS;
                margin-top: 100px;
                position: relative;
                @include mobile-L() {
                    width: 100%;
                    flex-wrap: wrap;
                }
                .robot {
                    z-index: -5;
                    position: absolute;
                    top: -82px;
                    left: calc(50% - 53px);
                }
                .QR {
                    width: 50%;
                    height: 50%;
                    @include mobile-L() {
                        width: 100%;
                    }
                }
                h3 {
                    width: 50%;
                    padding: $padding-XXS 0;
                    padding-left: $padding-XS;
                    margin: 0;
                    text-align: left;
                    @include mobile-L() {
                        width: 100%;
                        text-align: center;
                        padding-left: 0;
                    }
                }
            }
        }
    }

    //導覽清單
    .content-webmap {
        .container {
            padding-top: unset;
            .list-gp {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .text-gp {
                    width: 23%;
                    @include pad() {
                        width: 48%;
                    }
                    @include mobile-L() {
                        width: 100%;
                    }
                    h3 {
                        background-color: $table-blue;
                        padding: 0 $padding-XS;
                        margin: 0;
                    }
                    ul {
                        padding: $padding-XS;
                        padding-top: $padding-XXS;
                        list-style: none;
                        font-size: $size-p;
                        line-height: $size-p * 2;
                        margin: 0;
                        margin-bottom: $margin-S;
                        @include mobile-L() {
                            margin-bottom: $margin-XS;
                            line-height: $size-p * 2.5;
                        }
                        a {
                            color: $blue;
                        }
                    }
                }
            }
        }
    }
    //最新消息清單
    .content-news {
        @include papers();
        .container {
            .searchbar {
                @include searchbar();
            }
            .list-gp {
                @include news-list(100%, 15%);
            }
        }
    }
    //最新消息子頁
    .content-news-info {
        @include papers();
        .container {
            .info-top {
                margin-top: $margin-S;
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    font-size: $size-p;
                    color: $blue;
                    li {
                        display: inline;
                        margin-right: $margin-S;
                        @include mobile-L() {
                            display: block;
                        }
                    }
                    .far {
                        width: 13px;
                        color: $blue;
                        font-size: $size-p;
                        margin-right: 10px;
                    }
                }
            }
            .info-body {
                img {
                    width: 100%;
                    max-height: 600px;
                    object-position: center;
                    margin-top: $margin-S;
                    @include pad() {
                        max-height: 400px;
                    }
                    @include mobile-L() {
                        max-height: 300px;
                    }
                }
                p {
                    margin: $margin-S 0;
                }
            }
            .btn {
                display: flex;
                justify-content: center;
                margin-bottom: $margin-M;
                @include web-S() {
                    margin-bottom: $margin-S;
                }
            }
        }
    }

    //資料主題
    .content-theme {
        .container {
            padding-top: 220px;
            display: flex;
            justify-content: space-between;
            @include mobile-L() {
                flex-wrap: wrap;
                padding-top: 130px;
            }
            // 左欄按鈕
            .left {
                width: 30%;
                display: flex;
                justify-content: center;
                text-align: center;
                flex-wrap: wrap;
                flex-direction: column;
                @include pad() {
                    img {
                        width: 60%;
                    }
                }
                @include mobile-L() {
                    width: 100%;
                    flex-wrap: nowrap;
                    flex-direction: row;
                    img {
                        width: 60%;
                    }
                }
                .theme-btn {
                    margin-bottom: $margin-M;
                    @include mobile-L() {
                        width: 45%;
                        margin-bottom: $margin-S;
                    }
                    h3 {
                        color: $title-BK;
                        margin: unset;
                    }
                    #flood-btn,
                    #river-btn {
                        filter: opacity(40%);
                        h3 {
                            filter: opacity(40%);
                        }
                        &:hover {
                            filter: opacity(100%);
                            h3 {
                                filter: opacity(100%);
                            }
                        }
                    }
                }
            }
            // 右欄
            .right {
                width: 70%;
                @include mobile-L() {
                    width: 100%;
                }
                // 右欄內容-河川
                .river {
                    text-align: center;
                    @include theme-list(100%, $green);
                    @include mobile-L() {
                        @include theme-list(100%, $green);
                    }
                }
                //右欄內容-淹水
                .flood {
                    text-align: center;
                    @include theme-list(100%, $blue);
                    @include mobile-L() {
                        @include theme-list(100%, $blue);
                    }
                }
            }
            .pagination {
                margin-top: $margin-M;
            }
        }
    }
    // 資料主題-浮動視窗
    .theme-modal {
        .river {
            @include modal(80%, $green);
        }
        .flood {
            @include modal(80%, $blue);
        }
    }
    //資料使用統計
    .content-data {
        @include papers();
        h1 {
            @include mobile-L() {
                margin: $margin-S 0;
                text-align: center;
            }
        }
        h3 {
            text-align: center;
            margin-top: $margin-XS;
        }
        img {
            width: 100%;
        }
    }
    //示範應用
    .content-example {
        @include papers();
        .container {
            .example-head {
                margin-bottom: $margin-M;
                @include mobile-L() {
                    margin-bottom: $margin-S;
                }
                .btn {
                    display: flex;
                    justify-content: center;
                    @include mobile-L() {
                        flex-wrap: wrap;
                        flex-direction: column;
                    }
                    button {
                        margin: 0 $margin-XS;
                        @include mobile-L() {
                            margin-bottom: $margin-XS;
                        }
                    }
                }
                h1 {
                    text-align: center;
                }
            }
            .example-body {
                @include example();
            }
            .pagination {
                @include mobile-L() {
                    margin: 0;
                }
            }
        }
    }
    //登入
    .content-login {
        @include papers();
        .container {
            padding-top: 0;
            padding-bottom: $padding-S;
            @include mobile-L() {
                width: 100%;
                margin: 0;
                padding-bottom: 0;
                h1 {
                    text-align: center;
                }
            }
            .form {
                @include form();
                margin: auto;
                width: 50%;
                padding: $padding-XS;
                @include web-S() {
                    width: 60%;
                }
                @include pad() {
                    width: 80%;
                    padding: $padding-XS 0;
                }
                @include mobile-L() {
                    width: 100%;
                    padding-top: 0;
                }
                .g-recaptcha {
                    width: 100%;
                    margin-bottom: $margin-XS;
                }
            }
        }
    }
    //註冊
    .content-signup {
        @include papers();
        @include text-important();
        .container {
            padding-top: 0;
            padding-bottom: $padding-S;
            @include mobile-L() {
                width: 100%;
                margin: 0;
                padding-bottom: 0;
                h1 {
                    text-align: center;
                }
            }
            .form-gp {
                @include form();
                form {
                    width: 100%;
                    max-width: 800px;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    margin: auto;
                    .form-submit {
                        width: 100%;
                        background-color: transparent;
                        text-align: center;
                        padding: 0 $padding-M;
                        @include web-S() {
                            margin: $margin-S 0;
                        }
                        @include pad() {
                            margin-top: 0;
                            padding: 0 90px;
                        }
                        @include mobile-L() {
                            padding: 0 $padding-XS*1.5;
                            margin-bottom: $margin-S;
                        }
                        .form-gp {
                            display: flex;
                            justify-content: center;
                            flex-wrap: wrap;
                            flex-direction: row;
                            margin: $margin-XS 0;
                            padding: 0;
                            @include pad() {
                                justify-content: space-between;
                            }
                            @include mobile-L {
                            }
                            label {
                                width: 30%;
                                margin: $margin-XS 0;
                                @include pad() {
                                    width: 20%;
                                }
                                @include mobile-L() {
                                    width: 100%;
                                }
                            }
                            input {
                                width: 40%;
                                @include pad() {
                                    width: 50%;
                                }
                                @include mobile-L() {
                                    width: 60%;
                                }
                                &[type="checkbox"] {
                                    width: 20px;
                                    height: 20px;
                                    line-height: $size-h4 * 2;
                                    margin-top: 8px;
                                    border: 1px solid $light-sky;
                                }
                            }
                            .code,
                            img {
                                width: 65px;
                                height: 22px;
                                object-position: center;
                                margin: $margin-XS 0;
                                margin-right: $margin-S;
                            }
                        }
                        input {
                            &[type="checkbox"] {
                                width: 20px;
                                height: 20px;
                                line-height: $size-h4 * 2;
                                margin-top: 8px;
                                border: 1px solid $light-sky;
                            }
                        }
                        .btn {
                            width: 50%;
                            display: block;
                            margin: auto;
                            @include mobile-L {
                                width: 70%;
                            }
                        }
                        a {
                            margin-left: 3px;
                        }
                        .form-check-label {
                            line-height: $size-h4 * 2;
                            margin-left: $margin-XS;
                        }
                    }
                }
            }
            .notice {
                h3 {
                    text-align: center;
                }
                ul {
                    color: $text;
                    font-size: $size-p;
                    line-height: $size-p * 2;
                    text-align: justify;
                    margin-bottom: $margin-S;
                    li {
                        margin-bottom: $margin-XS;
                    }
                    @include mobile-L() {
                        padding: 0 $padding-XS * 1.5;
                        margin-bottom: $margin-M;
                    }
                }
            }
        }
    }
    //註冊-後台
    .content-signup {
        @include papers();
        @include text-important();
        .container {
            .account-list-gp {
                display: flex;
                justify-content: space-between;
                width: 100%;
                @include pad() {
                    flex-wrap: wrap;
                }
                #team {
                    @include account-list($blue);
                }
                #egov {
                    @include account-list($green);
                }
                #wrisp {
                    @include account-list($blue);
                }
            }
            .notice {
                @include mobile-L() {
                    h3 {
                        margin-top: unset;
                    }
                }
            }
        }
    }
    //註冊成功
    .content-sign-up-success {
        .container {
            padding: $padding-M;
            padding-top: 220px;
            height: 100%;
            text-align: center;
            @include pad() {
                padding-top: 150px;
            }
            @include mobile-L() {
                padding: $padding-M 0;
                padding-top: 150px;
            }
            p {
                text-align: center;
                @include pad() {
                    margin-top: $margin-XS;
                }
            }
            img {
                width: 100px;
                margin-bottom: $margin-S;
            }
            .btn {
                margin: $margin-S 0;
            }
        }
    }
    //會員資料修改
    .content-member-data {
        @include papers();
        .container {
            @include mobile-L() {
                width: 100%;
                h1 {
                    text-align: center;
                }
                padding-bottom: 0;
            }
            .member-data {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                .head-gp {
                    width: 30%;
                    text-align: center;
                    @include pad() {
                        width: 100%;
                    }
                    img {
                        margin-bottom: $margin-XS;
                    }
                    h4 {
                        color: $text;
                        text-align: center;
                        margin-bottom: $margin-S;
                        @include pad() {
                            margin-bottom: $margin-M;
                        }
                    }
                }
                .form {
                    @include form();
                    width: 60%;
                    padding: $padding-S;
                    margin-bottom: $margin-M;
                    @include pad {
                        width: 100%;
                    }
                    @include mobile-L() {
                        padding: $padding-XS 0;
                        margin-bottom: 0;
                    }
                    .form-right {
                        .form-gp {
                            padding: 0 $padding-S;
                            @include mobile-L() {
                                padding: 0 $padding-XS * 1.5;
                            }
                        }
                    }
                    .btn {
                        width: 100%;
                        padding: 0 $padding-S;
                        margin-top: $margin-XS * 2;
                        text-align: center;
                        @include mobile-L() {
                            padding: 0px $padding-XS * 1.5;
                            margin-top: $margin-S;
                            margin-bottom: $margin-S * 1.5;
                        }
                        input[type="submit"] {
                            margin: 0;
                            text-align: center;
                            height: 44px;
                        }
                    }
                }
            }
        }
    }
    //API認證資訊
    .content-api-attestation {
        @include papers();
        .container {
            @include mobile-L() {
                width: 100%;
                margin: 0;
                padding-bottom: 0;
                h1 {
                    text-align: center;
                }
            }
            .form {
                @include form();
                margin: auto;
                width: 60%;
                padding: $padding-S;
                @include web-S() {
                    width: 70%;
                }
                @include pad() {
                    width: 100%;
                    padding: $padding-S 0;
                }
                form {
                    .form-gp {
                        h4 {
                            width: 100%;
                            text-align: left;
                        }
                        span {
                            width: 100%;
                            color: $red;
                            text-align: left;
                            padding-bottom: $padding-XXS/2;
                            margin: 0;
                        }
                        p {
                            padding-top: 0;
                        }
                    }
                }
            }
        }
    }
}
